.primary {
  height: 100%;
  width: 64px;
  border-right: 1px solid var(--sidebar-nav-border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 0 16px 0;
}
.logoContainer {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.icon {
  color: var(--sidebar-nav-icon-color);
}

.logo {
  font-size: 24px;
  color: var(--website-logo-color);
  transform: rotateZ(180deg);
}
