html,
body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
  margin-bottom: 0;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  color: #333;
}
p {
  font-size: 18px;
  margin: 32px 0 0 0;
  color: #333;
  line-height: 36px;
}
